.navbar {
    align-items: center;
}

.navbar-brand {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-link,
.btn-link {
    padding: 0.5rem 1rem;
}

.btn-link {
    border: none;
    background-color: transparent;
    color: inherit;
    text-align: left;
}

.btn-link:hover {
    color: inherit;
    text-decoration: underline;
}

.vertical-divider {
    border-left: 1px solid #ddd;
    height: 30px;
    margin: auto 10px;
    vertical-align: middle;
}
