name: generate release tag
on:
  push:
    branches: ["main"]

permissions:
  contents: write
  pull-requests: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - id: generate
        uses: tibdex/github-app-token@v2.1.0
        with:
          app_id: ${{ secrets.PREL_APP_ID }}
          private_key: ${{ secrets.PREL_PRIVATE_KEY }}
      - uses: actions/checkout@v5
        with:
          token: ${{ steps.generate.outputs.token }}
      - uses: Songmu/tagpr@v1.17.0
        env:
          GITHUB_TOKEN: ${{ steps.generate.outputs.token }}
